html,
body {
  position: relative;
  height: auto;
  width: 100%;
  min-height: 100% !important;
  font-family: "ft-light", "Nunito";
  padding: 0% !important;
  margin: 0% !important;
  background-color: #1b2430;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

body::-webkit-scrollbar {
  display: none !important;
}

.light {
  background-color: rgb(241, 241, 241);
}

.code-title-container {
  background-color: #1b2430;
  padding: 7.5px;
  color: rgb(210, 209, 209);
  margin-bottom: -15px;
}
