$colors: (
  primary: #c0c0c0,
  secondary: #2978a0,
  dark_gray: #a9a9a9,
  dark: #161b1e,
  dark_background: #1b2430,
  light_color: rgb(210, 209, 209),
  // light_mode: rgb(241, 241, 241),
  light_mode: rgb(255, 255, 255)
);
