@import '../../../styles/variables.module.scss';

.logo_container {
  .logo {
    font-family: 'Poppins';
    font-size: 28px;
    color: map-get($colors, 'primary');
    cursor: pointer;
  }
}

.logo_container_light {
  .logo {
    color: map-get($colors, 'dark');
  }
}
