@import "../../styles/variables.module.scss";

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container {
  transition: 0.5s ease-in-out;
  font-size: clamp(16px, 1.2rem, 18px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;

  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    &:hover {
      .handEmoji {
        transform: rotate(45deg) scale(1.2);
        transition: transform 0.3s ease;
        animation: wave 0.5s linear infinite;
      }
    }

    .profile_img {
      height: 7.5rem !important;
      width: 7.5rem !important;
      border-radius: 50%;
      filter: grayscale(400%);
      object-fit: cover;
      margin-bottom: 1rem;
      transition: filter 0.3s ease-in-out;

      &:hover {
        transition: 0.3s ease-in-out;
        filter: grayscale(0%);
      }
    }

    .introduction {
      text-align: center;
      margin: 0%;
      color: map-get($colors, "light_color");
      font-size: clamp(14px, 1rem, 18px);
    }
  }

  .role {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    .text {
      text-align: center;
      font-family: "ft-medium";
      color: map-get($colors, "light_color");
      font-size: clamp(24px, 4vw, 36px);
      font-weight: 900;
      margin: 0%;
    }
  }

  .titles {
    display: flex;
    justify-content: center;
    gap: 12.5px;
    font-size: clamp(18px, 2vw, 24px);
    font-family: "ft-medium";
    color: map-get($colors, "dark_gray");
    margin: 0%;

    .separator {
      color: map-get($colors, "dark_gray");
      font-family: "Poppins";
      font-weight: 300 !important;
      font-size: clamp(14px, 1rem, 18px);
    }
  }

  .connect {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    .link {
      text-decoration: none !important;
      color: map-get($colors, "dark");

      .btn {
        background-color: transparent;
        border: none;
        padding: 0.7rem 1.2rem;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: map-get($colors, "dark");
        font-size: clamp(10px, 1rem, 12px);
        font-family: "Poppins";
        background-color: map-get($colors, "primary");
        font-weight: 700;
      }
    }
  }
}

/* Light mode styles */
.light {
  transition: 0.5s ease-in-out;
  .connect {
    display: flex;
    justify-content: center;

    .link {
      color: map-get($colors, "dark");

      .btn {
        color: map-get($colors, "light_mode");
        background-color: map-get($colors, "dark");
      }
    }
  }

  .profile {
    .introduction {
      color: map-get($colors, "dark");
    }
  }

  .role {
    max-width: 400px;
    .text {
      color: map-get($colors, "dark");
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 800px;
  }
}
