@import '../../styles/variables.module.scss';

.footer {
  height: 3rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  .text {
    font-size: 14px;
    text-align: center;
    color: map-get($colors, 'dark_gray');
    .icon {
      font-size: 10px;
    }
  }
}
.light {
  .text {
    color: map-get($colors, 'dark');
  }
}
